body , html {
  box-sizing: border-box;
  font-family: -apple-system,  BlinkMacSystemFont, sans-serif; 
} 
.app{
  text-align: center;
}
.container{

  background-color: rgb(7,2,71);
  justify-content: center;
  width: 800px;
  margin-left: 300px;
  margin-top: 4px;
  text-align: center;
  padding: 20px;
}
input[type=text], select{
  width: 40%;
  padding: 8px 16px;
  margin: 30px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  width: 15%;
  margin: 6px;
  color: black;
  padding: 8px 16px;
  margin: 8px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
button:hover{
  background-color: rgb(106, 98, 220)
}
.header{
  width: 100%;
  padding: 8px 16px;
  color: white;
  font-size: 30px;
  font-family: -apple-system,  BlinkMacSystemFont, sans-serif; 
}
.List-heading{
  color: rgb(10, 4,89);
  font-size: 30px;
  font-family: -apple-system,  BlinkMacSystemFont, sans-serif; 
  text-align: left;
  background-color: rgb(135, 130, 200);
}
.listData{
  color: black;
  font-size: 20px;
  background-color: rgb(118, 113, 187);
  text-align: left;
  padding-left: 30px;
  width: 53%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 10px;
}
.btn-positon{
  position: relative;
  left: 11%;
  top: -54px;
}
.dark-theme {
  --main-heading: #5f99be;
  --para-clr: #fff;
  --btn-bg-clr: #5f99be;
  --btn-text-clr: #fff;
  --bg-clr: #111b20;
}
.light-theme {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-clr:   #111b20;
  --btn-text-clr: #fff;
  --bg-clr: #fff;
}
.btn{
  padding: 1.6rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-clr);
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th{
  padding: 52px;
}
.table{
  color: hsl(0, 0%, 80%);
  align-items: center;
  padding: 12px;
  margin-left: 60px;
}
.plus-button {
  width: 28px;
  height: 28px;
  background-color: rgb(118, 113, 187);
  color: white;
  font-size: 20px;
  align-items: center;
  border-radius: 8%;
}

/* code for about  */

img{
  height: 140px;
  width: 140px;
  align-items: left;
  border-radius: 50%;
  margin-top: -30px;
}
div upc{
  padding-top: 10px;
  height: auto;
}
upc{
  width: 140px;
  height: 30px;
  padding-top: 40px;
  border-radius: 0px;
  padding-bottom: 10px;
  background: white;
}
.gradient{
  height: 180px;
  width: 210px;
  padding-top: 40px;
  margin-top: 90px;
  background-image: linear-gradient(#91baff,#205fff);
  height: 40px;
  margin-left: 455px;
}
.profile-down{
  height: 180px;
  width: 210px;
  margin-top: -30px;
  padding: 0px;
  background: white;
  margin-left: 455px;
}
.profile-title{
  font-size: 16px;
  font-family: 600;
  align-items: center;
  margin-left: 6px;
  margin-bottom: 12px;
}
.profile-description{
  padding: 5px 10px;
  font-size: 16px;
align-items: right;
margin-left: 30px;
}
.profile-button{
  font-size: 16px;
  width: 16%;
  height: 40px;
  background: #2b5dff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}
/*@media queries */
